"""""""""""""""
" general map "
"""""""""""""""

" let space be Leader
let mapleader="\<Space>"
" let space no effect
map <Space> :<CR>

" remap defalut key
map Y y$
map ~ g~
map 0 ^
map Q gq
nmap <Leader>q  :q<CR>
nmap <Leader>w  :w<CR>
nmap <Leader>x  :x<CR>
nmap <Leader>Q  :qall<CR>
map <Leader>m %
map <Leader>d "_d
map <Leader>D "_D
map <Leader>y "+y
map <Leader>Y "+Y
map <Leader>p "+p
map <Leader>P "+P

" move between windows
map <Leader>j <C-w>j
map <Leader>k <C-W>k
map <Leader>h <C-W>h
map <Leader>l <C-W>l
" add windows
map <Leader>- :split<CR><C-w>j
map <Leader>\ :vsplit<CR><C-w>l
" move between buffers
map <C-h> :bprevious<CR>
map <C-l> :bnext<CR>


nnoremap <Leader>nh :nohlsearch<CR>
nnoremap <Leader>= gg=G''

nnoremap <Leader><Leader>s :vsplit<CR>35<C-w><

nnoremap <F5> :source $MYVIMRC<CR>


" Copy or change search hit
vnoremap <silent> s 
            \//e<C-r>=&selection=='exclusive'?'+1':''<CR><CR>
            \:<C-u>call histdel('search',-1)<Bar>let @/=histget('search',-1)<CR>gv
omap s :normal vs<CR>




""""""""""""""
" plugin map "
""""""""""""""

" for ALE
nmap <silent> <Leader>r :ALENext<cr>
nmap <silent> <Leader>R :ALEPrevious<cr>

" for unimparied
nmap <Leader><Space>j ]<Space>
nmap <Leader><Space>k [<Space>

